/* ------------------- ABOUT ------ */
body {
    background-color: #000000;
    font-family: 'Cera Pro';
    font-style: normal;
}

.site-logo {
    cursor: pointer;
}

.site-logo:hover {
    scale: 1.2;
}

.site-navbar {
    width: 550px;
}

.navbar-list-items {
    margin: 0;
    text-decoration: none;
}


.items-content {
    padding-top: 35px;
    margin-right: 25px;
    cursor: pointer;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
}

.items-content:hover {
    scale: 1.1;
    color: #00c8ff;
}

.hero-wrapper {
    width: 1000px;
}

.welcome,.short-name {
    font-size: 24px;
    color: white;
}

.about-me,.hero-heading {
    color: rgb(0, 200, 255);
}
/* ------------------- ABOUT ------ */


/* ---------------- BLOG ---------- */
.blog-wrapper {
    margin-top: 45px;
    margin-bottom: 25px;
}

.blog-content-wrapper {
    width: 350px;
}

.hero-wrapper-blog {
    border: 3px solid rgb(0, 200, 255);
    border-radius: 15px;
}

.blog-content {
      font-size: 18px;
      color: white;
}

.red {
    color: rgb(210, 48, 48);
}

.red:hover {
    color: rgb(0, 163, 251);
    scale: 1.2;
}

.white {
    color: wheat;
}
/* ---------------- BLOG ---------- */


/* ------------------- STUDY ------ */
.hero-wrapper-study {
    margin-top: 65px;
}

.study-img {
    border-radius: 35px;
}

.study-img:hover {
    scale: 1.1;
    cursor: pointer;
    transition: 0.2s;
    border: solid 1px #00c8ff ;
}

/* ------------------- STUDY ------ */


/* ------------------- STUDY=========SKILLLS ------ */
.languages-heading {
    color: #00c8ff;
}

.languages-text {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.languages-content-wrapper {
    width: 280px;
}

.language-flags {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.university-img {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.university-info {
    width: 220px;
    color: #ffffff;
    font-weight: bold;
}

.programming-text {
    color: #00c8ff;
    font-weight: bold;
    font-size: 24px;
}

.frontend-items:hover {
    cursor: pointer;
    scale: 1.3;
    transition: .8s;
}

.stationx-link {
    font-size: 22px;
    text-decoration: none;
    color: #00c8ff;
}

.youtube-channel-img {
    border: 3px solid rgb(0, 200, 255);
    border-radius: 15px;
}

.youtube-channel-img:hover {
    scale: 1.1;
    transition: .3s;
    cursor: pointer;
}

.youtube-text {
    color: #ffffff;
    font-size: 22px;
}
/* ------------------- STUDY=========SKILLLS ------ */
